<html>

<head>
    <title>Cru Central Coast</title>
    <link rel="icon" type="image/png" href="/img/logo2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/css/landing.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="/img/landing/cru-central-coast-resize.png" id="CCC"><img>

    <p class="tagline">A family of ministries giving every student and faculty on California's Central Coast the
        opportunity to hear the Good News of Jesus Christ</p>
    <div class="holder">
        <a href="/slo">
            <img src="/img/landing/slo-cru.png" class="ministry"><img>
        </a>
        <a href="https://slo.crucentralcoast.com">
            <img src="/img/landing/cuesta-cru.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/groups/epicslo/">
            <img src="/img/landing/epic.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/groups/calpolydestino/">
            <img src="/img/landing/destino.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/greekrowcalpolyslo/">
            <img src="/img/landing/greek-row.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/calpolyaia">
            <img src="/img/landing/athletes.png" class="ministry"><img>
        </a>
        <a href="http://facultycommonsslo.com/">
            <img src="/img/landing/faculty-commons.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/brandedchristiansinagriculture">
            <img src="/img/landing/branded.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/groups/385306844974162/">
            <img src="/img/landing/cuesta-north.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/CRUatHancock">
            <img src="/img/landing/hancock.png" class="ministry"><img>
        </a>
        <a href="https://www.facebook.com/groups/229636323901336/">
            <img src="/img/landing/cru-high.png" class="ministry"><img>
        </a>
        <img src="/img/landing/choose.png" class="ministry" id="choose"><img>
    </div>
</body>

</html>