<div class="container top">
    <div class="box">
        <div class="text" id="housing">
            <p class="headings attributes">LEADERSHIP ATTRIBUTES</p>
            <p>As we select leaders for our different movements, we are looking for four things to be present in our
                applicants.
                These traits include being Faithful, a Leader, Available, and Teachable; or as we abbreviate it: <span
                    class="list">FLAT</span>.
                Here's what we mean:</p>
            <p><span class="list">Faithful:</span> Being an active member in the movement you are applying for
                leadership with and committing to the responsibilities for the leadership position.</p>
            <p><span class="list">Leader:</span> Being a person of influence with a willingness to focus on the needs of
                others.</p>
            <p><span class="list">Available:</span> Willing to commit to being a part of a Community Group with Cru
                Central Coast as well as events, conferences, and leadership activities sponsored by your movement
                within Cru Central Coast.</p>
            <p><span class="list">Teachable:</span> Having a desire to grow and a desire to receive input and feedback
                from others regarding your leadership.</p>
            <p>As you consider leadership with Cru Central Coast, know that we are not looking for the "perfect" leader
                who has it all together,
                but rather someone willing to learn, grow, and pay attention to the needs of others.</p>
        </div>
    </div>
    <div class="picture">
        <div class="picture-overlay">
            <div class="picture-text">
                <p class="applying" id="line2">We are so excited that you are considering leading with Cru Central
                    Coast! Below, you will find a description of what leadership looks like and what different roles
                    entail. Remember to look at the movement that you are involved in as that is where it makes the most
                    sense for you to lead.</p>
            </div>
        </div>
    </div>
</div>
<div class="container bottom">
    <div class="shift">
        <div class="column resources" id="section1">
            <p class="headings">APPLICATION PROCESS</p>
            <div class="sites">
                <p>You may have noticed that a lot of things within Cru Central Coast are actually run and planned by
                    students: worship, your Community Group, various events, and even whole movements. As we head into
                    Spring, we are inviting people to consider joining in the mission and vision of Cru for the next
                    school year through applying to be a student leader. To the right, you will find descriptions of the
                    available leadership positions by movement as well as the application. Feel free to check out those
                    documents to learn more about the roles available in your movement as well as the deadlines for your
                    movement’s application. Remember to look at the movement you are involved in as that is where it
                    makes the most sense for you to lead.</p>
                <p>Here’s a quick snapshot of the process so you know what to expect as you apply:</p>
                <ul>
                    <li class="next-steps">Read Position Descriptions (to the right)</li>
                    <li class="next-steps">Submit your Leadership Application & Personal Bio</li>
                    <li class="next-steps">Talk with a Staff member</li>
                    <li class="next-steps">Staff or Core Leaders reach out to you about opportunities to serve</li>
                </ul>
                <p>We look forward to hearing back from you. </p>
                {{!-- <p>The Leadership Application is your first step toward applying for leadership with Cru Central Coast.
                    The application opens on Monday, March 4th, 2019 and will remain open until the deadlines set by
                    each movement
                    (see Position Descriptions for exact dates).</p>

                <p>After you turn in your application, Staff members will review it and schedule an interview either in
                    person or on the phone.
                    As we are reviewing many applications, please allow time for Staff to review and schedule your
                    interview.
                    While the Staff are responsible for reviewing your application, it is the student leadership teams
                    of each movement that will make final decisions on placement.
                    Even if the Staff member passes on your application for placement, you may still not be placed as
                    many people may have applied.</p> --}}

            </div>
        </div>
        <div class="column resources" id="section2">
            <p class="headings">AVAILABLE LEADERSHIP POSITIONS</p>
            <div class="guides">
                <p>To find out more and see a brief description of the available leadership positions for Cru Cal Poly,
                    Epic, Greek Row, or other Cru Central Coast movements, please click the link below.</p>

                <p><a class="links"
                        href="https://docs.google.com/document/d/1aJKI_auWS7sFFxycW08-LQRRpqPOgzGChgAX5FZaGs4/edit"
                        target="_blank">Position Descriptions</a>
            </div>
        </div>
        <div class="column resources" id="section3">
            <p class="headings">LEADERSHIP APPLICATIONS</p>
            <p>There are two parts to our application, so please fill out both the Leadership Application and
                the Personal Bio below and return both to us.</p>
            <p><a class="links" href="/documents/Leadership Application 2019.docx" download>Leadership
                    Application</a>
                <br /><a class="links" href="/documents/Personal Bio 2019.docx" download>Personal Bio</a></p>
            <p>You can find out more information about where to submit your application by looking at the Position
                Descriptions document to the left.</p>
        </div>
    </div>
</div>