<html>
    <head>
        <title>Cru Central Coast</title>
        <link rel="icon" type="image/png" href="/img/logo2.png">
        <link href="/css/support.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--<img src="/css/img/"> -->

        <h3>App Support</h3>
        <ol>
            <li class="topic-header">General Use</li>
            <ul>
                <li class="sub-topic-header">Initial App Launch: </li>
                <div class="sub-topic" id="initial-content">
                    <p>
                        On the launch of the Cru Central Coast App for the first time, you will be prompted to agree to our Terms of Service and to allow or deny access to push notifications and location services. The Terms of Service can be found below by following the Terms link at the bottom of the page. Cru Central Coast uses your location, if allowed, to make the RideSharing section of the App easy to use. Cru Central Coast uses push notifications to make users aware of changes to events or other information related only to the ministries the user is signed up for.
                    </p>
                    <p>
                        After agreeing to the Terms of Service and allowing or denying push notifications and location services, you will be prompted to select which campuses and ministries you want to be a part of. The focuses of Cru Central Coast's ministries are different and are outlined below. Each ministry is open to any and all students and faculty to attend. You may sign up for more than one ministry, but must sign up for one in order to continue in the App.
                    </p>
                    <p>
                        <span class="underline">At Cal Poly</span>
                        <br>
                        Cru Cal Poly SLO: focus on the entire Cal Poly community
                        <br>
                        Branded: focus on Agriculture students and faculty
                        <br>
                        Destino: focus on Latino students and faculty
                        <br>
                        Epic: focus on Asian-American students and faculty
                        <br>
                        Faculty Commons: focus on professors and faculty
                        <br>
                        Fellowship of Christian Athletes in Action (FCAIA): focus on collegiate and club athletes
                        <br>
                        Greek Row: focus on students involved in fraternities and sororities
                        <br>
                        Valor: focus on students involved in ROTC
                    </p>
                    <p>
                        Cru Cuesta: focus on the entire Cuesta community
                    </p>
                    <p>
                        Cru Allan Hancock: focus on the entire Allan Hancock community in Santa Maria
                    </p>
                    <p>
                        Cru Cuesta North: focus on the entire Cuesta North community in Paso Robles
                    </p>
                    <p>
                        Cru SLO High: focus on the entire SLO High School community
                    </p>
                </div>
                <li class="sub-topic-header">Home Page: </li>
                <div class="sub-topic" id="home-content">
                    <p>
                        The Home Page of the Cru Central Coast App contains information about upcoming rides and events corresponding to what the user signed up for. Links to the Cru Central Coast social media accounts is also found. At the top right, a Notification button shows you all push notifications that have been sent to your phone.
                    </p>
                </div>
                <li class="sub-topic-header">Navigation Bar: </li>
                <div class="sub-topic" id="navigation-content">
                    <p>
                        The Navigation Bar gives access to the different sections of the Cru Central Coast App including the Home Page, Events, Resources, RideSharing, Get Involved, Summer Missions, and Settings.
                    </p>
                </div>
                <li class="sub-topic-header">Events: </li>
                <div class="sub-topic" id="events-content">
                    <p>
                        Tap Events on the Navigation Bar and you will see all upcoming events for the ministry(s) you have signed up for. The information includes date, location, and time. By tapping each event, you will be taken to a screen with more information.
                    </p>
                    <p>
                        Events that have RideSharing available will have a black car / person icon at the bottom of the more information page. If RideSharing is unavailable, a car / person icon that has been greyed out will show.
                    </p>
                    <p>
                        Events can be added to your native calendar, but you must first allow Cru Central Coast to access your calendar.
                    </p>
                    <p>
                        You can also view events directly on Facebook to see who is attending by tapping the Facebook icon.
                    </p>
                </div>
                <li class="sub-topic-header">Resources: </li>
                <div class="sub-topic" id="resources-content">
                    <p>
                        Tapping Resources in the Navigation Bar will bring you to the Resources page. You will see options for articles, videos, and audio.
                    </p>
                    <p>
                        The video channel highlights Cru Central Coast's YouTube account. Audio resources are coming soon and will include sermons and talks from different Cru Central Coast speakers.
                    </p>
                    <p>
                        Additional resources are available for students and faculty who login to the App. This is only for students and faculty who lead with Cru Central Coast.
                    </p>
                </div>
                <li class="sub-topic-header">RideSharing: </li>
                <div class="sub-topic" id="ride-content">
                    <p>
                        Getting a ride and offering rides are dependent upon the event that you would like to attend.
                    </p>
                    <p>
                        By tapping Find Ride, you will be given an option to choose an event. Once you have chosen an event, a list of rides will appear leaving at different times to head to the event. By selecting one, you will be taken to a form where your name and phone number are input so that you can join this ride. Tap the Pencil to edit the information. Information about the departure address, time, and event time and location are also shown.
                    </p>
                    <p>
                        After joining a ride, information about that ride will be available in the main section of RideSharing for easy reference. By tapping it, you have access to the driver's name and phone number. You can cancel your ride by tapping Cancel Ride.
                    </p>
                    <p>
                        You can also Offer Rides to an event from the main section of RideSharing. Fill out the form in the Offer Ride section and tap Submit. All information is required. After signing up as a driver, information about that ride will be available in the main section of RideSharing for easy reference. By tapping it, you can view passengers who have signed up for your vehicle or cancel the ride.
                    </p>
                </div>
                <li class="sub-topic-header">Get Involved: </li>
                <div class="sub-topic" id="involved-content">
                    <p>
                        This tab is divided into two pieces, the section on Community Groups and that of Ministry Teams. Community Groups are groups of students and faculty getting together to get to know one another more deeply and talk about spiritual topics. Ministry Teams offer ways to help out with events and become active in helping Cru Central Coast move forward.
                    </p>
                    <p>
                        To sign up for a Community Group, tap Join a Community Group and choose the Ministry you would like to have that Community Group through. Enter your general information to help us narrow down what you are looking for and then click Submit to see the Community Groups that we offer. By clicking Sign Up, you become involved in that Community Group and the Community Group Leaders are sent your name and phone number to help connect you to the group.
                    </p>
                    <p>
                        You can leave the Community Group at any time by going back to the Get Involved tab and tapping Leave.
                    </p>
                    <p>
                        You can also join a Ministry Team by going to the Ministry Teams section at the top of the Get Involved tab. You will see brief descriptions of each team along with which ministry it serves. Tap Sign Up to get involved. Fill out your name and phone number and a notification will be sent to the leaders letting them know of your desire to join them.
                    </p>
                    <p>
                        You can leave the Ministry Team at any time by going back to the Get Involved tab, tapping Ministry Teams, tapping the Ministry Team you want to leave, and the tapping Leave Team.
                    </p>
                </div>
                <li class="sub-topic-header">Summer Missions: </li>
                <div class="sub-topic" id="missions-content">
                    <p>
                        By tapping Summer Missions on the Navigation Bar, you will see all of the exciting opportunities that Cru offers for students and faculty to participate in over the summer. Each Summer Mission has general information displayed with more detail being shown if you tap. You can Learn More by tapping and seeing a website with more information.
                    </p>
                </div>
                <li class="sub-topic-header">Settings: </li>
                <div class="sub-topic" id="settings-content">
                    <p>
                        Tapping Settings on the Navigation Bar brings you to preferences that you can change. This includes the Campus(es) and Ministry(s) that you initially selected as well as the place to Login for additional resources. Changing the Campus and Ministry settings will impact what you see on other screens, particularly with Events and RideSharing.
                    </p>
                </div>
            </ul>
            <li class="topic-header">First-time Drivers</li>
            <div class="topic" id="driver-content">
                <p>
                    Drivers who are not leaders are required to sign-up in person with a Cru Central Coast staff member, student leader, or faculty leader. This is to prevent drivers unassociated with Cru Central Coast from picking up students and faculty. Please see one of the people in those roles to sign-up to be a driver. Once you have gone through this process once, you don't have to do it again.
                </p>
            </div>
            <li class="topic-header">Logging in</li>
            <div class="topic" id="login-content">
                <p>
                    Logging in is currently reserved for students and faculty that lead with Cru Central Coast. No new portions of the Cru Central Coast App are unlocked by logging in. All portions of the App are available to every user. The login simply extends the number of resources within the Resources section to provide training to those in leadership.
                </p>
                <p>
                    If you have trouble logging in, make sure that you are using the correct email address and password. This information is generally emailed to each student leader at the beginning of the school year. If you do not have this information or if you still cannot login, please contact the developer as noted in Further Questions below.
                </p>
            </div>
            <li class="topic-header">Privacy</li>
            <div class="topic" id="login-content">
                <p>
                    Cru Central Coast does collect personal information in the App for the purposes of organizing rides and helping you get involved in our ministries. We use the information as governed by our Terms of Service and do not sell or distribute your information to others. Your information is only given to the leaders whose Community Group or Ministry Team you have signed up for or given to a driver or rider who you have signed up with.
                </p>
                <p>
                    Data is stored on a secure server and in a future update, end-to-end encryption will be implemented.
                </p>
            </div>
            <li class="topic-header">Further Questions</li>
            <div class="topic" id="login-content">
                <p>
                    If you have further questions regarding the use of the Cru Central Coast App or have suggestions on how to make it better, please contact our developer.
                </p>
            </div>
            <form>

            </form>
        </ol>

        <div class="footer">
            <a href="https://slo.crucentralcoast.com/about">About Us</a> |
            <a href="https://slo.crucentralcoast.com/construction">Terms of Service</a> |
            <a href="/">Our Ministries</a>
        </div>
    </body>
</html>
