.Header {
  text-align: center;
  border-bottom-color: #666062;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Header-logo {
  float: left;
  height: 30px;
  cursor: pointer;
}

.Header-body {
  height: 60px;
}

.Header-title {
  color: #666062;
  font-size: 20pt;
}

.Login-state {
  color: #666062;
  float: right;
}
